@font-face {
  font-family: "Bodoni Moda";
  src: url("../../public/fonts/BodoniModa.ttf");
}
@font-face {
  font-family: "Confortaa";
  src: url("../../public/fonts/Confortaa.ttf");
}
@font-face {
  font-family: "Satisfy";
  src: url("../../public/fonts/Satisfy.ttf");
}

:root {
  --color-azul-oscuro: #001427;
  --color-bisque: #ffe4c4;
  --color-white: #fff;
  --color-gris: #f7f2f2;
  --color-azul: #98d0ff;
  --color-rosa: #ffc6d7;
  --color-verde: #708d81;
  --color-verde-agua: #6ed2b7;
  --color-amarillo: #ffe4a8;
  --color-dorado: #ffb703;

  --font-Bodoni: "Bodoni Moda", sans-serif;
  --font-Confortaa: "Confortaa", sans-serif;
  --font-Satisfy: "Satisfy", sans-serif;
  --font-size-titulo: 48px;
  --font-size-subtitulo: 1rem;
  --font-size-body: 0.75rem;

  --background-color: var(--color-gris);
  --relleno-divs: var(--color-gris);
  --relleno-botones: var(--color-bisque);
  --color-titulo: var(--color-verde-agua);
  --borde-color: var(--color-verde-agua);
  --grosor-outline: 3px;
}
