@import "../const/const.css";

.contenedor-btn {
  position: relative;
  background-color: var(--relleno-divs);
  width: 100%;
  height: 100%;
  font-size: var(font-size-body);
  font-weight: 800;
  border-radius: 32px;
  outline: var(--borde-color) solid var(--grosor-outline);
}
.btn {
  display: block;
  color: #000;
  width: 120px;
  height: 32px;
  margin: 0;
  padding: 8px;
  position: absolute;
  top: calc(100% - 54px);
  left: 16px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--relleno-botones);
  border-radius: 32px;
}
.icono {
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
}
.texto-oculto {
  width: 0;
  opacity: 0;
  transition-delay: 0.5s;
  transition: all 0.5s ease;
}
.mostrar-texto {
  width: 100%;
  opacity: 1;
}
