@import "../const/const.css";

.contenedor-btn {
  --rango-animacion: 100px;
  position: relative;
  background-color: var(--relleno-divs);
  width: 100%;
  height: 100%;
  font-size: var(font-size-body);
  font-weight: 800;
  border-radius: 32px;
  outline: var(--borde-color) solid var(--grosor-outline);
}
.btn {
  color: #000;
  width: 120px;
  height: 32px;
  margin: 0;
  padding: 8px;
  display: block;
  position: absolute;
  top: calc(100% - 54px);
  left: 16px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: #fff;

  border-radius: 32px;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px,
    rgba(255, 255, 255, 0.5) 0px 0px 0px 6px;
}
