@import "../const/const.css";

.modal {
  color: white;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  backdrop-filter: blur(4px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2;

  h4 {
    text-decoration-line: underline;
    text-decoration-color: var(
      --color-dorado
    ); /* Puedes cambiar el color según tus preferencias */
    text-decoration-thickness: 2px; /* Puedes ajustar el grosor según tus preferencias */
    text-underline-offset: 4px;
  }
}

.modal-overlay {
  font-size: 16px;
  display: flex;
  width: 30%;
  height: 50%;
  flex-direction: column;
  gap: 5px;
}
.modal-btn-cerrar {
  cursor: pointer;
  place-self: flex-end;
}
@media (width < 768px) {
  .modal-overlay {
    width: 90%;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
textarea {
  border-radius: 16px; /* Puedes ajustar el valor según tus preferencias */
  border: 2px solid yellow; /* Agrega un borde para resaltar la forma del textarea */
  padding: 8px; /* Ajusta el relleno según sea necesario */
}
