@import "./const/const.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-azul-oscuro);
  font-family: var(--font-Satisfy);
  text-wrap: pretty;
}

body {
  height: 100vh;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
  outline: var(--borde-color) solid var(--grosor-outline);
}

.hidden {
  transform: scale(0.9);
  opacity: 0;
  transition: all 0.4s ease;
}
.mostrar {
  transform: scale(1);
  opacity: 1;
}

.titulo {
  font-size: var(--font-size-titulo);
  background-color: var(--background-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--color-titulo);
  text-align: center;
}

.contenerdor-grid {
  display: grid;
  background-color: var(--background-color);
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, minmax(80px, 160px));
  grid-template-rows: repeat(6, minmax(80px, 160px));
  gap: 20px;
  padding: 1rem;
}

@media (width >= 768px) {
  .foto-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }
  .ubicacion-salon {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
  .menu {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }
  .regalos {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }
  .relleno {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
  }
  .form-alergias {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
  }
  .dress-code {
    grid-column: 4 / 5;
    grid-row: 6 / 7;
  }
  .foto-1 {
    grid-column: 1 / 3;
    grid-row: 5 / 8;
  }

  .foto-2 {
    grid-column: 3 / 4;
    grid-row: 5 / 7;
  }
}
.relog {
  background-color: var(--color-white);
  color: var(--color-rosa);
}

.menu {
  border-radius: 32px;
  outline: var(--grosor-outline) solid var(--borde-color);
  background-color: var(--color-rosa);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.relleno {
  background-color: var(--color-verde-agua);
  border-radius: 32px;
  outline: var(--grosor-outline) solid var(--borde-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
.regalos {
  border-radius: 32px;
  outline: var(--color-azul-oscuro) solid var(--grosor-outline);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: var(--color-azul-oscuro);

  .circulo-fondo-regalos {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--color-rosa);
  }
  .icono-regalo {
    z-index: 1;
  }
}

.mapa {
  display: block;
  width: 340px;
  height: 160px;
}
iframe {
  outline: var(--borde-color) solid var(--grosor-outline);
}

.dress-code {
  position: relative;
  border-radius: 32px;
  background-color: var(--color-verde-agua);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: var(--borde-color) solid var(--grosor-outline);
  font-size: 1.5rem;

  span {
    z-index: 1;
  }
  h4 {
    padding: 0;
    padding-bottom: 10px;
  }

  .circulo {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--color-rosa);
  }
}

@media (width < 768px) {
  .titulo {
    font-size: 2.6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .contenerdor-grid {
    grid-template-columns: 160px 160px;
    grid-template-rows: repeat(8, 160px);
  }
  .foto-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }
  .regalos {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
  }
  .ubicacion-iglesia {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  .menu {
    grid-column: 2 / 3;
    grid-row: 5 / 7;
  }
  .trafic {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }
  .relleno {
    grid-column: 1 / 3;
    grid-row: 7 / 8;
  }

  .form-alergias {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
  }
  .dress-code {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
    font-size: 1.5rem;
  }
  .ubicacion-salon {
    grid-column: 1 / 3;
    grid-row: 9 / 10;
  }
  .foto-2 {
    grid-column: 1 / 3;
    grid-row: 10 / 11;
  }
  .foto-3 {
    grid-column: 1 / 3;
    grid-row: 11 / 12;
  }
  .foto-4 {
    grid-column: 1 / 3;
    grid-row: 13 / 14;
  }
  .foto-5 {
    grid-column: 1 / 3;
    grid-row: 14 / 15;
  }
  .foto-6 {
    grid-column: 1 / 3;
    grid-row: 15 / 16;
  }
  .foto-7 {
    grid-column: 1 / 3;
    grid-row: 16 / 17;
  }
  .foto-8 {
    grid-column: 1 / 3;
    grid-row: 17 / 18;
  }
  .foto-9 {
    grid-column: 1 / 3;
    grid-row: 18 / 19;
  }
  .foto-10 {
    grid-column: 1 / 3;
    grid-row: 19 / 20;
  }
  .foto-11 {
    grid-column: 1 / 3;
    grid-row: 20 / 21;
  }
  .foto-12 {
    grid-column: 1 / 3;
    grid-row: 21 / 22;
  }
  .foto-13 {
    grid-column: 1 / 3;
    grid-row: 22 / 23;
  }
  .foto-14 {
    grid-column: 1 / 3;
    grid-row: 23 / 24;
  }
  .foto-15 {
    grid-column: 1 / 3;
    grid-row: 24 / 25;
  }
  .foto-16 {
    grid-column: 1 / 3;
    grid-row: 25 / 26;
  }
  .foto-17 {
    grid-column: 1 / 3;
    grid-row: 26 / 27;
  }
  .foto-18 {
    grid-column: 1 / 3;
    grid-row: 27 / 28;
  }
  .foto-19 {
    grid-column: 1 / 3;
    grid-row: 28 / 29;
  }
}
